@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-green: #428038;
  --accent-green-light: #86efac;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-foreground: #f5f5f5;
  --accent-green: #428038;
  --accent-green-light: #86efac;

  --primary-text: #353734;
  --secondary-text: #798b85;

  --subtitle-secondary-text: #51615a;

  --border-color: #f2f2f2;

  --surah-list-num-bg: #f5f5f5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --secondary-foreground: #171717;
  --accent-green: #428038;
  --accent-green-light: #86efac;

  --slider-bg: #212121;

  --primary-text: #c4c4c4;
  --secondary-text: #787d7a;

  --subtitle-secondary-text: #8a8f8c;

  --border-color: #212121;

  --surah-list-num-bg: #171717;
}

.sepia {
  --background: #f8f5ec;
  --foreground: #2f241b;
  --secondary-foreground: #f4efe2;
  --accent-green: #97724e;
  --accent-green-light: #caa57f;

  --primary-text: #3a3027;
  --secondary-text: #827468;

  --subtitle-secondary-text: #6c6056;

  --border-color: #e0d1c0;

  --surah-list-num-bg: #f4efe2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-green-light: var(--accent-green-light);
  --color-accent-green: var(--accent-green);

  --font-poppins: var(--font-poppins);
  --font-amiri: var(--font-amiri);
  --font-noto-naskh-arabic: var(--font-noto-naskh-arabic);
  --font-rubik: var(--font-rubik);
  --font-kfgq: var(--font-kfgq);

  --color-slider-bg: var(--slider-bg);

  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);

  --color-subtitle-secondary-text: var(--subtitle-secondary-text);

  --color-border-color: var(--border-color);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-surah-list-num-bg: var(--surah-list-num-bg);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

a,
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent-green);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(187, 247, 208, 0.95);
}

::-webkit-scrollbar-track {
  background: transparent;
}

.surah-scroll {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent-green) transparent;
}

.surah-scroll:hover {
  scrollbar-color: var(--color-accent-green) transparent;
}

.surah-scroll::-webkit-scrollbar {
  width: 6px;
}

.surah-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.surah-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(134, 239, 172, 0.8);
  border-radius: 999px;
}

.surah-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(187, 247, 208, 0.95);
}
